---
title: EPK
---

<main>

  <section class="narrow">
    <p>Electronic Press Kit</p>
    <h3>{{ site.description }}</h3>
    <p>
      Band Manager: Nirav Sanghani<br />
      832-567-5753<br />
      curiositiesjazz@gmail.com
    </p>
  </section>
  <section>
    <h3>Videos (instrumental trio)</h3>
    <ul class="gallery">
      {% include thumbnail.html id="U0OAtdfIhAI" title="As Long As I Live" left="43,192,228" right="234,236,198" %}
      {% include thumbnail.html id="1bjHdlWVVZ0" title="If I Had You" left="0,176,155" right="150,201,61" %}
      {% include thumbnail.html id="RaQwmOgPSYo" title="Undecided" left="116,235,213" right="72,182,229" %}
    </ul>
    <h3>Videos (with vocalist)</h3>
    <ul class="gallery">
      {% include thumbnail.html id="lYmvHTrYmdA" title="Me, Myself, and I" left="202,197,49" right="243,249,167" %}
      {% include thumbnail.html id="PVYZaw7L5U4" title="Sweet Lorraine" left="0,242,96" right="5,117,230" %}
    </ul>
  </section>
  <section class="narrow">
    <h3>Blurb</h3>
    <p>The Curiosities Jazz Band is a tiny ensemble playing the standards of the 1920s, ’30s, and ’40s. Led by longtime
      swing dancer and guitarist Nirav Sanghani, the band focuses on a classic repertoire that’s great for dancing and
      listening.</p>
    <h3>Biography</h3>
    <p>
      The Curiosities Jazz Band began in 2017 when San Francisco-based guitarist Nirav Sanghani needed a smaller
      version of his seven-piece swing band. Designed for restaurants, bars, and smaller stages, the Curiosities has
      developed into a flexible ensemble that can handle anything from an intimate dinner to a swing dance.
    </p>
    <p>
      The core trio is comprised of acoustic guitar, tenor saxophone and upright bass, and can be expanded to include
      any combination of vocals, piano, and drums.
    </p>
    <p>
      In every instrumentation, the band focuses on developing a classic repertoire for listening or dancing. Nirav
      draws inspiration from the influential 1930s–40s small group swing of Benny Goodman, Artie Shaw, and Count Basie,
      as well as contemporary groups like The EarRegulars and Mona’s Hot Four.
    </p>
    <p>
      The Curiosities Jazz Band now plays their fun and energetic brand of traditional jazz several times a month around
      the San Francisco Bay Area.
    </p>
  </section>
  <section>
    <ul class="gallery">
      <li style="background-image: url('images/about-1.jpg');">
        <a href="images/about-1.jpg" target="_blank"></a>
      </li>
      <li style="background-image: url('images/about-2.jpg');">
        <a href="images/about-2.jpg" target="_blank"></a>
      </li>
      <li style="background-image: url('images/epk-1.jpg');">
        <a href="images/epk-1.jpg" target="_blank"></a>
      </li>
    </ul>
  </section>
  <section class="narrow">
    <h3>Shows</h3>
    <p>
      2nd Sundays at The Liberties Bar<br />
      4th Wednesdays at Blackthorn Tavern<br />
      <a target="_blank" href="https://www.facebook.com/niravsanghanimusic/">See additional shows in pinned Facebook
        post</a>
    </p>
  </section>
</main>