---
title: Media
---

<main>
  <section>
    <ul class="gallery">
      {% include thumbnail.html id="wwFzVnB9wbM" title="Rose Room" left="230, 100, 101" right="145, 152, 229" %}
      {% include thumbnail.html id="1bjHdlWVVZ0" title="If I Had You" left="0,176,155" right="150,201,61" %}
      {% include thumbnail.html id="eymEN3XNAi0" title="Avalon" left="202,197,49" right="243,249,167" %}
      {% include thumbnail.html id="GPHxt3-O9oc" title="Rosetta" left="128,0,128" right="255,192,203" %}
      {% include thumbnail.html id="e0HOi5P-b8Q" title="Star Dust" left="0,242,96" right="5,117,230" %}
      {% include thumbnail.html id="cXc9CZQ-2V8" title="Perdido" left="252,74,26" right="247,183,51" %}
      {% include thumbnail.html id="RaQwmOgPSYo" title="Undecided" left="116,235,213" right="72,182,229" %}
    </ul>
  </section>
</main>