#hero {
  padding: 0;
  margin: 0;
  max-width: unset;
  height: 600px;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center 35%;
}

/* 768 - 1; to support portrait mode iPads */
@media (max-width: 767px) {
  #hero {
    height: 300px;
  }
}